body{
    font-family:Arial;
    background-color: #eeeeee;
}
table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.button{
    background-color: #FFFFFF;
    border: 1px solid grey;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    float: left;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

.selected {
    background-color: #dddddd;
}
#target
{
    font-size:16px;
    text-align: left;
    clear: left; 
    border:1px solid black; 
    min-width: 700px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
#canv_cont
{
    float:left;
    margin: 0px auto;
    position: relative;
    width:800;
    height:700;
    background-color: #333333;
}
#questions
{
    display: inline-block;
    width: calc(100% - 454px);
    overflow: hidden;
    text-overflow: ellipsis;
}
#q_title
{
    display: block;
    font-size:40px;
    height: 100px;
}
#q_body
{
    display: block;
    height: 150px;
    font-size:12px;
}
#q_buttons
{
    display: block;
}
.extra
{
    float:right;
    width:200px;
    height:100%;
}
.heading
{
    font-weight: bold;
    text-transform: uppercase;
}
/* .button */
/* { */
    /* background-color: #FFFFFF; */
    /* border: 1px solid grey; */
    /* color: black; */
    /* padding: 15px 32px; */
    /* text-align: center; */
    /* text-decoration: none; */
    /* float: left; */
    /* width: 30%; */
    /* height: 100px; */
    /* display: none; */
    /* font-size: 16px; */
/* } */
