.navSearch {
    position: absolute;
    left: 20px;
    top: 10px;
    font-size:40px;
    z-index: 9;
    font-weight:bold;
}

.closeSearch {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 40px;
    z-index: 9;
    font-weight: bold;
    opacity: 0;
    pointer-events:none;
}

.navSearch i{
    cursor:pointer;
}

.navSearch i:hover{
    color:green;
}

.closeSearch i {
    cursor: pointer;
}

.closeSearch i:hover{
    color:green;
}

.searchField {
    position: absolute;
    left: calc(50% - 240px);
    top: calc(0% + 10px);
    transform: translate(-calc(0% + 10px), -calc(50% - 240px));
    z-index: 9;
    opacity: 0;
    pointer-events: none;
    border-bottom: double;
    border-bottom-color: white;
}

.searchField input {
    width: 400px;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    padding-bottom: 2px;
    margin-left: 40px;
    margin-right: 40px;
    border: none;
    outline: none;
    background: #333;
    color:white;
    opacity: 1;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
    opacity: 0.6;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
    opacity: 0.6;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
    opacity: 0.6;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    opacity: 0.6;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    opacity: 0.6;
}

@media only screen and (max-width: 1000px) {
    .navSearch, .closeSearch{
        display:none;
    }
}