table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.filterBlock{
    min-width:220px;
}

.tables .filterBlock{
    width:100%;
    text-align:center;
}

.filterBlock div{
    display:inline-block;
}

.filter{
    color:white;
    font-weight:bold;
}

.square {
    height: 30px;
    width: 30px;
    background-color: #404040;
    margin: 5px;
    outline: 0 !important;
    cursor: pointer;
}

div svg{
    display: block;
    margin:auto;
    height:30px;
    width:30px;
}

td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tbody{
    color:white;
}

.button{
    align-items: center;
    background-color: #FFFFFF;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    float: left;
    font-size: 16px;
    height: 100%;
    width: 100%;

}

.selected {
    background-color: green;
}

th{
    color:white;
}

.sidenav {
    height: calc(100% - 116px);
    width: 0;
    position: fixed;
    z-index: 5;
    top: 58px;
    right: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}