{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='annotation.css')}}">
    <div id="target" style="width: {{dim.width+200}}; height:{{dim.height}};">
        <div id="canv_cont">
            <canvas class="imageCanvas" id="imageCanvas" style="background-color:#333333"></canvas>
            <script>
                var imageCanvas = document.getElementById("imageCanvas");
                var img_ctx = imageCanvas.getContext("2d");
                var w={{dim.image_width}};
                var h={{dim.image_width}};
                var csrf_token="{{csrf_token()}}";
                var static_url="{{url_for('static', filename='')}}"
                init()
                
                
                // Makes w/h of canvas same as image
                function init(){
                    $.ajaxSetup({
                        beforeSend: function(xhr, settings) {
                            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                                xhr.setRequestHeader("X-CSRFToken", csrf_token);
                            }
                        }
                    });
                    galaxy=new Image();
                    galaxy.onload=function(){
                        imageCanvas.width=w;
                        imageCanvas.height=h;
                        img_ctx.drawImage(galaxy, 0, 0,w,h);
                    }
                    galaxy.src="{{url_for('static', filename=file.name)}}.jpg";
                }
            </script>
            <canvas class="drawCanvas" id="drawCanvas" ></canvas>
            <canvas class="UICanvas" id="UICanvas" ></canvas>
            <script src="{{ url_for('static', filename='canvasDrawer.js') }}"></script>
        </div>
        <div class="extra" style="width: 200; height: {{dim.height}};">
            <div class="tables" id="obj_table_div" style="width: 200; height:85%;">
                <table class="obj_table" id="obj_table" style="width:100%">
                    <thead>
                        <tr>
                            <th>Shape</th>
                            <th>ID</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <script>
                    $('tbody').sortable();
                </script>
                <script src="{{ url_for('static', filename='tableManager.js') }}"></script>
            </div>
            <div class="buttons" style="width: 200; height:15%;">
                <a href=# class="button" id="submit">Submit</a>
                <script>
                    $(function() {
                        $('a#submit').bind('click', function() {
                            $.ajax({
                                data: JSON.stringify(shapes),
                                contentType: "application/json; charset=utf-8",
                                type:'POST',
                                success: function(response){
                                    //console.log(response);
                                },
                                error: function(error){
                                    console.log(error);
                                }
                            })
                        });
                    });
                </script>
            </div>
        </div>
    </div>
{% endblock %}
