{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='StylingHiddenTable.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='StylingCheatSheet.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='StylingScrollBar.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='StylingGalaxySearch.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='StylingCanvas.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='StylingTutorial.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='StylingFeatureInfo.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//aladin.u-strasbg.fr/AladinLite/api/v2/beta/aladin.min.css" />
<script type="text/javascript" src="//code.jquery.com/jquery-1.12.1.min.js" charset="utf-8"></script>
<div class="navSearch" id="navSearch"><i class="fa fa-search"></i></div>
<div class="closeSearch" id="closeSearch"><i class="fa fa-close"></i></div>
<div id="AdvancedSearchBar">
    <div class="searchField" id="searchField">
        <input type="text" placeholder="Ids, Galaxies, Surveys" name="search" ; autocomplete="off" onkeydown="search(this)">
    </div>
</div>
<div id="mySidenav" class="sidenav">
    <div class="extra" style="width:  100%; height: 100%;">
        <div class="tables" id="obj_table_div" style="width: 100%;  height:100%;">
            <div class="filterBlock">
                <div class="square" id="all" tabindex='0'>
                    <svg>
                        <rect x="5" y="5.5" width="5" height="5" fill="red" />
                        <circle cx="22" cy="8" r="3" fill="red" />
                        <ellipse cx="8" cy="22" rx="4" ry="3" fill="red" />
                        <line x1="20" y1="20" x2="25" y2="25" style="stroke:rgb(255,0,0);stroke-width:2" />
                    </svg>
                </div>
                <div class="square" id="rect" tabindex='1'>
                    <svg>
                        <rect x="8" y="8" width="15" height="15" fill="red" />
                    </svg>
                </div>
                <div class="square" id="circle" tabindex='2'>
                    <svg>
                        <circle cx="15" cy="15" r="8" fill="red" />
                    </svg>
                </div>
                <div class="square" id="ellipse" tabindex='3'>
                    <svg>
                        <ellipse cx="15" cy="15" rx="10" ry="5" fill="red" />
                    </svg>
                </div>
                <div class="square" id="line" tabindex='4'>
                    <svg>
                        <line x1="5" y1="5" x2="22" y2="22" style="stroke:rgb(255,0,0);stroke-width:2" />
                    </svg>
                </div>
            </div>
            <table class="obj_table" id="obj_table" style="width:100%">
                <thead>
                    <tr>
                        <th>Shape</th>
                        <th>ID</th>
                        <th>Feature</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <script>
                $('tbody').sortable();
            </script>
            <script src="{{ url_for('static', filename='JavascriptTableManager.js') }}"></script>
            <script src="{{ url_for('static', filename='JavascriptCheatSheet.js') }}"></script>
            <script src="{{ url_for('static', filename='JavascriptGalaxySearch.js') }}"></script>
            <script src="{{ url_for('static', filename='JavascriptSubmission.js') }}"></script>
            <script src="{{ url_for('static', filename='JavascriptFeatureInfo.js') }}"></script>
            <script src="{{ url_for('static', filename='JavascriptAdvancedMode.js') }}"></script>
        </div>
    </div>
</div>

<div id="hideTableSideNav" class="HideTable" onclick="hideAll()">
    <div class="HideIcon">
        <h3 class="HideText">Hide</h3>
    </div>
</div>

<div id="featureTable" class="FeatureTable">
    <div class="FeatureList" id="featureList">

        <h3>Mergers</h3>

        <div>
            <h4 class="Features" id="shells">Shells</h4>
            <h5>
                Shells are part of circles centered on the galaxy's core. There can be several concentric shells of arbitary
                numbers. Shells can be very fine or thick, or even full like a halo. They can be recognised by their sharp
                outer edge, while halos have fuzzy edges.
            </h5>
        </div>

        <div>
            <h4 class="Features" id="plumes">Plumes</h4>
            <h5>
                Plumes are fuzzy structures getting out of the galaxy. They can be very faint, quite far from the galaxy and
                of any shape. They should not be confused with the cirrus.
            </h5>
        </div>

        <div>
            <h4 class="Features" id="titalTails">Tital Tails</h4>
            <h5>
                A thick line or curve of gas, often containing young stars and dwarf galaxies that were created by the compressino
                of gas in the tidal tail (shock waves). The tidal tails are created from the galaxy, when tidal forces during a merging
                event throws a stream of gas and stars out of the galaxy. They are still attached to the galaxy, and they eventually fall
                down on it under gravity, making a twisted shape.
            </h5>
        </div>

        <div>
            <h4 class="Features" id="streams">Streams</h4>
            <h5>
                Streams are similar to tidal tails, but they were created out of dwarf galaxies rather than the main merging galaxy. Therefore,
                they contain materials and stars that are older than in a tidal tail, making them redder. They often have a S shape. The dwarf
                galaxy that was disrupted into a stream is sometimes visible with both branches of the S on either side. Sometimes, they are hidden
                or completely destroyed, and only the stream remains.
            </h5>
        </div>

        <h3>Artifacts</h3>

        <div>
            <h4 class="Features" id="ghostedHalo">Ghosted Halo</h4>
            <h5>
                Imaging artifact that is due to reflections of light inside the telescope. They are centered on all the bright objects of the image.
                The ghost halos have a fix size that depends on the telescope. They are usually the same colour but they are not correctly centered
                on the bright object: in some parts of the image they are a bit up, in others a bit down, etc.
            </h5>
        </div>

        <div>
            <h4 class="Features" id="cirrus">Cirrus</h4>
            <h5>
                A cirrus is a cloud of gas that is in front of the image. They can be recognised because they usually occupy a large part of a very
                large image - it is therefore best to zoom out to verify a suspicion of cirrus. They have a texture with consistent orientation throughout
                the image.
            </h5>
        </div>

        <h3>Internal Structures</h3>

        <div>
            <h4 class="Features" id="bar">Bar</h4>
            <h5>
                A bright, roughly rectangular bar, in the center of the galaxy.
            </h5>
        </div>

        <div>
            <h4 class="Features" id="rings">Rings</h4>
            <h5>
                The spiral arms are sites of ongoing star formation and are brighter than the surrounding disc because of the young,
                hot OB stars that inhabit them.
            </h5>
        </div>

        <div>
            <h4 class="Features" id="spiralArms">Spiral Arms</h4>
            <h5>
                The spiral arms are sites of ongoing star formation and are brighter than the surrounding disc because of the young,
                hot OB stars that inhabit them.
            </h5>
        </div>

        <div>
            <h4 class="Features" id="dustLanes">Dust Lanes</h4>
            <h5>
                A dust lane is a relatively dense obscuring band of interstellar dust, observed as a dark swath against the background
                of a brighter object, especially a galaxy. These dust lanes can usually be seen in spiral galaxies
            </h5>
        </div>

        <h3>Halo</h3>

        <div>
            <h4 class="Features" id="halo">Halo</h4>
            <h5>
                A galactic halo is an extended, roughly spherical component of a galaxy which extends beyond the main, visible component.
                Several distinct components of galaxies comprise the halo.
            </h5>
        </div>

        <h3>Other</h3>

        <div>
            <h4 class="Features" id="notSure">Not Sure</h4>
            <h5>
                When you are unsure that your annotation does not resemble any of the above.
            </h5>
        </div>

        <div class="spacing">

        </div>
    </div>
</div>

<div id="hideTableFeatures" class="HideTable" onclick="hideAll()">
    <div class="HideIcon">
        <h3 class="HideText">Hide</h3>
    </div>
</div>

<div id="myCheatSheet" class="cheatSheet">
    <div class="cheatSheetTable">
        <h3>Galaxy Type</h3>
        <div>
            <h4>Spiral</h4>
            <img class="cheatSheetImage" src="{{ url_for('static', filename='CheatSheetSpiral.jpg') }}">
        </div>

        <div>
            <h4>Elliptical</h4>
            <img class="cheatSheetImage" src="{{ url_for('static', filename='CheatSheetElliptical.jpg') }}">
        </div>

        <div>
            <h4>Merger</h4>
            <img class="cheatSheetImage" src="{{ url_for('static', filename='CheatSheetMerger.jpg') }}">
        </div>

        <div class="spacing">

        </div>

        <h3>Galaxy Shape</h3>
        <div>
            <h4>Completely Round</h4>
            <img class="cheatSheetImage" src="{{ url_for('static', filename='CheatSheetCompletelyRound.jpg') }}">
        </div>

        <div>
            <h4>In Between</h4>
            <img class="cheatSheetImage" src="{{ url_for('static', filename='CheatSheetInBetween.jpg') }}">
        </div>

        <div>
            <h4>Cigar Shaped</h4>
            <img class="cheatSheetImage" src="{{ url_for('static', filename='CheatSheetCigarShaped.jpg') }}">
        </div>

        <div class="spacing">

        </div>

        <h3>Bulge Shape</h3>
        <div>
            <h4>Rounded</h4>
            <img class="cheatSheetImage" src="{{ url_for('static', filename='CheatSheetRounded.jpg') }}">
        </div>

        <div>
            <h4>Boxy</h4>
            <img class="cheatSheetImage" src="{{ url_for('static', filename='CheatSheetBoxy.jpg') }}">
        </div>

        <div>
            <h4>No Bulge</h4>
            <img class="cheatSheetImage" src="{{ url_for('static', filename='CheatSheetNoBulge.jpg') }}">
        </div>

        <div class="spacing">

        </div>

        <h3>Spiral Pattern</h3>
        <div>
            <h4>Yes</h4>
            <img class="cheatSheetImage" src="{{ url_for('static', filename='CheatSheetSpiralPattern1.jpg') }}">
        </div>

        <div>
            <h4>Yes</h4>
            <img class="cheatSheetImage" src="{{ url_for('static', filename='CheatSheetSpiralPattern2.jpg') }}">
        </div>

        <div>
            <h4>No</h4>
            <img class="cheatSheetImage" src="{{ url_for('static', filename='CheatSheetNoSpiral1.jpg') }}">
        </div>

        <div>
            <h4>No</h4>
            <img class="cheatSheetImage" src="{{ url_for('static', filename='CheatSheetNoSpiral2.jpg') }}">
        </div>

        <div class="spacing">

        </div>

        <h3>Number of Spirals</h3>
        <div>
            <h4>1</h4>
            <img class="cheatSheetImage" src="{{ url_for('static', filename='CheatSheetOneSpiral.jpg') }}">
        </div>

        <div>
            <h4>2</h4>
            <img class="cheatSheetImage" src="{{ url_for('static', filename='CheatSheetTwoSpiral.jpg') }}">
        </div>

        <div>
            <h4>3</h4>
            <img class="cheatSheetImage" src="{{ url_for('static', filename='CheatSheetThreeSpiral.jpg') }}">
        </div>

        <div>
            <h4>4+</h4>
            <img class="cheatSheetImage" src="{{ url_for('static', filename='CheatSheetFourPlus.jpg') }}">
        </div>

        <div>
            <h4>Can't Tell</h4>
            <img class="cheatSheetImage" src="{{ url_for('static', filename='CheatSheetCantTell.jpg') }}">
        </div>

        <div class="spacing">

        </div>

        <h3>Rare Features</h3>
        <div>
            <h4>Ring</h4>
            <img class="cheatSheetImage" src="{{ url_for('static', filename='CheatSheetRing.jpg') }}">
        </div>

        <div>
            <h4>Lens/Arc</h4>
            <img class="cheatSheetImage" src="{{ url_for('static', filename='CheatSheetLensOrArc.jpg') }}">
        </div>

        <div>
            <h4>Disturbed</h4>
            <img class="cheatSheetImage" src="{{ url_for('static', filename='CheatSheetDisturbed.jpg') }}">
        </div>

        <div>
            <h4>Irregular</h4>
            <img class="cheatSheetImage" src="{{ url_for('static', filename='CheatSheetIrregular.jpg') }}">
        </div>

        <div>
            <h4>Merger</h4>
            <img class="cheatSheetImage" src="{{ url_for('static', filename='CheatSheetMerger2.jpg') }}">
        </div>
        <div>
            <h4>Dust Lane</h4>
            <img class="cheatSheetImage" src="{{ url_for('static', filename='CheatSheetDustLane.jpg') }}">
        </div>

        <div class="spacing">

        </div>
    </div>
</div>

<div id="hideTableCheatSheet" class="HideTable" onclick="hideAll()">
    <div class="HideIcon">
        <h3 class="HideText">Hide</h3>
    </div>
</div>

<div id="target">
    <div id="canv_cont">
        <div id="aladin-lite-div" style="width: 100%; height:100%; border:none"></div>
        <script type="text/javascript" src="//aladin.u-strasbg.fr/AladinLite/api/v2/beta/aladin.min.js" charset="utf-8"></script>
        <script type="text/javascript">
                // Initialise the Aladin object
                // Survey: determines survey to pull data from
                // FoV: zoom controller
                // Extra options control UI features that are loaded
                // See here: http://aladin.unistra.fr/AladinLite/doc/API/
                var aladin = A.aladin('#aladin-lite-div', {
                    survey: "P/DSS2/color", fov: 0.2,

                    showGotoControl: false,
                    showLayersControl: true,
                    showFrame: false,
                    showFullscreenControl: false,
                });

                $('.aladin-location').css('display', 'none');
                $('.aladin-logo-container').css('display', 'none');
                $('.aladin-layersControl-container').css('background', 'none');
                $('.aladin-layersControl-container').css('top', '4');
                $('.aladin-layersControl-container').css('left', '41');

                // Call methods on aladin to interact with it
                // See API for list of methods
                aladin.setFovRange(0.1, 1);

                // Creates a marker at a given RA, Dec
                // This will be used to navigate automatically to a given galaxy
                // May be used to calculate shape parameters in world coordinates
                // May be used to keep shapes in correct location when user pans
                var ra = 100.0;
                var dec = 45.0;
                var cat = A.catalog({ name: 'Some markers', sourceSize: 18 });
                aladin.addCatalog(cat);
                cat.addSources([A.marker(ra, dec)]);

                // Navigates to given RA, Dec
                aladin.gotoRaDec(ra, dec);
                aladin.setFoV(1);

                // These are listeners for panning and scrolling
                aladin.on('positionChanged', function (newPosition) {
                    console.log('xy position of ' + ra + ', ' + dec + ': ', aladin.world2pix(ra, dec));
                });

                aladin.on('zoomChanged', function (newPosition) {
                    console.log('xy position of ' + ra + ', ' + dec + ': ', aladin.world2pix(ra, dec));
                });
        </script>
        <canvas class="drawCanvas" id="drawCanvas"></canvas>
        <canvas class="UICanvas" id="UICanvas"></canvas>
        <script src="{{ url_for('static', filename='JavascriptCanvasDrawer.js') }}"></script>

        <div class="FeatureDropdownContainer" id="featureDropdownContainer">
            <ul class="FeatureDropdown" id="menu">
                <li class="FeatureHover" id="featureHover">
                    <a id="featureLabel"> What feature will you draw?  &nbsp; <i class="fa fa-caret-down"></i></a>
                    <ul onmouseover="changeTo()" onmouseout="changeBack()">
                        <li>
                            <a id="bigger" onmouseover="changeTo()" onmouseout="changeBack()">
                                Mergers
                                <i class="fa fa-info-circle" id="moreInfo" onclick="featureTableShow()" onmouseover=""></i>
                            </a>
                        </li>
                        <li><a id="featureItems" onclick="addFeature('Shells')" onmouseover="changeTo()" onmouseout="changeBack()">Shells</a></li>
                        <li><a id="featureItems" onclick="addFeature('Plumes')" onmouseover="changeTo()" onmouseout="changeBack()">Plumes</a></li>
                        <li><a id="featureItems" onclick="addFeature('Tital Tails')" onmouseover="changeTo()" onmouseout="changeBack()">Tital Tails</a></li>
                        <li><a id="featureItems" onclick="addFeature('Streams')" onmouseover="changeTo()" onmouseout="changeBack()">Streams</a></li>
                        <li><a id="bigger" onmouseover="changeTo()" onmouseout="changeBack()">Artifacts</a></li>
                        <li><a id="featureItems" onclick="addFeature('Ghosted Halo')" onmouseover="changeTo()" onmouseout="changeBack()">Ghosted Halo</a></li>
                        <li><a id="featureItems" onclick="addFeature('Cirrus')" onmouseover="changeTo()" onmouseout="changeBack()">Cirrus</a></li>
                        <li><a id="bigger" onmouseover="changeTo()" onmouseout="changeBack()">Internal Structures</a></li>
                        <li><a id="featureItems" onclick="addFeature('Bar')" onmouseover="changeTo()" onmouseout="changeBack()">Bar</a></li>
                        <li><a id="featureItems" onclick="addFeature('Ring')" onmouseover="changeTo()" onmouseout="changeBack()">Ring</a></li>
                        <li><a id="featureItems" onclick="addFeature('Spiral Arm')" onmouseover="changeTo()" onmouseout="changeBack()">Spiral Arm</a></li>
                        <li><a id="featureItems" onclick="addFeature('Dust Lane')" onmouseover="changeTo()" onmouseout="changeBack()">Dust Lane</a></li>
                        <li><a id="bigger" onmouseover="changeTo()" onmouseout="changeBack()">Halo</a></li>
                        <li><a id="featureItems" onclick="addFeature('Halo')" onmouseover="changeTo()" onmouseout="changeBack()">Halo</a></li>
                        <li><a id="bigger" onmouseover="changeTo()" onmouseout="changeBack()">Other</a></li>
                        <li><a id="featureItems" onclick="addFeature('Not Sure')" onmouseover="changeTo()" onmouseout="changeBack()">Not Sure</a></li>
                        <li><div class="spacingFeatures"></div></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="iconList" id="iconList">
            <i class="fa fa-pencil" id="pencil"></i>
            <i class="fa fa-arrows" id="arrows"></i>
            <i class="fa fa-trash-o" id="bin"></i>
            <i class="fa fa-undo" id="restart"></i>
            <i class="fa fa-long-arrow-left" id="undo"></i>
            <i class="fa fa-long-arrow-right" id="redo"></i>
            <i class="fa fa-table" id="table"></i>
            <i class="fa fa-info" id="info"></i>
        </div>

        <div class="submitButton" id="submitButton">
            <a href=# class="button" id="submit">Submit</a>
        </div>

        <div id="TheEnd" class="overlayEnd">
            <div class="endingContainer">
                <h1>Thank You!</h1>
                <h3>Submission Successful</h3>
                <div>
                    <a href="/">Home</a>
                </div>
                <div>
                    <a href="/Annotate">New Annotation</a>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}