<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script> 
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Galaxy stuff</title>
        {% else %}
        <title>Welcome.</title>
        {% endif %}
    </head>
    <body>
        <div>Galaxy stuff: <a href="/index">Home</a> <a href="/annotate">Annotate</a></div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
