<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Styling/StylingHeaderFooter.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Styling/StylingHamburgerMenu.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Styling/StylingScrollbar.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Styling/login.css')}}">
<link rel="shortcut icon" href="{{url_for('static', filename='Images/Icon/favicon.ico')}}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename ='Scripts/jquery.js') }}">\x3C/script>')</script>
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<script>
    window.jQuery || document.write('<script src="{{
        url_for('static', filename ='Scripts/jquery-ui.js') }}">\x3C/script>')
</script>

<meta name="csrf-token" content="{{ csrf_token() }}">
<script>
    var csrftoken = $('meta[name=csrf-token]').attr('content');

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRF-Token", csrftoken)
            }
        }
    })
</script>

<html>
    <head>
        {% if title %}
        <title>{{ title }} - DeepSpace</title>
        {% else %}
        <title>Welcome</title>
        {% endif %}
    </head>
    <body>
        <script src="{{ url_for('static', filename='Scripts/JavascriptHamburgerMenu.js') }}"></script>
        <script src="{{ url_for('static', filename='Scripts/JavascriptSubmission.js') }}"></script>
        <ul class="navMain">
            <li>
                <div class="container" id="x" onclick="myFunction(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </li>
            <li><a href="/">Home</a></li>
            <li><a href="/news">News</a></li>
            <li class="dropdown" id="dropdown">
                <a  class="dropbtn">Acknowledgement</a>
                <div class="dropdown-content Acknowledgement">
                    <a href="/team">Our Team</a>
                    <a href="/funding">Funders</a>
                </div>
            </li>
            <li class="dropdown" id="dropdown">
                <a class="dropbtn" href="/tutorial">Tutorial</a>
                <div class="dropdown-content tutorial">
                    <a href="/tutorial#drawingPart">Drawing</a>
                    <a href="/tutorial#tablePart">Table</a>
                    <a href="/tutorial#annotationPart">Annotation</a>
                </div>
            </li>
            <li><a href="/annotate" class="getInvolved">Get Involved</a></li>
            {% if current_user.is_anonymous %}
            <li>
                <a href="#" class="loginbtn">Login</a>
            </li>
            {% else %}
                {% block user_dropdown %}
                    {% include 'user_dropdown.html' %}
                {% endblock %}
            {% endif %}
        </ul>
        <script src="{{ url_for('static', filename='Scripts/login.js') }}"></script>


        <div id="form_container" class="modal">
            <div class="modalcontent animate">
                {% block login %}{% endblock %}
            </div>
        </div>

        <div class="footer">
            <a href="#news1">About</a>
            <a href="#news2">Contact Us</a>
            <a href="#news3">FAQ</a>
            <a href="#news4">Privacy Policy</a>
        </div>
        <div id="myNav" class="overlay">
            <div class="overlay-content">
                <a href="/">Home</a>
                <a href="/news">News</a>
                <a href="/team">Our Team</a>
                <a href="/funding">Funders</a>
                <a href="/tutorial">Tutorial</a>
                <a href="/annotate" class="getInvolved">Get Involved</a>
                {% if current_user.is_anonymous %}
                <a href="#" class="loginbtn">Login</a>
                {% else %}
                {% endif %}
            </div>
        </div>

        {% if current_user.is_anonymous %}
        <script>
            function loadModal(url){
                $.get(url, function(data) {
                    $('#form_container .modalcontent').html(data);
                    $('#form_container').css('display','block');
                    $("#username").focus()
                    
                    $('.loginButton').click(function(event) {
                        console.log("my code running")
                        event.preventDefault();
                        console.log("Attempting to post login data");

                        console.log($('.form_data').serialize())
                        var data = "csrf_token="+csrftoken+"&"+$('.form_data').serialize()
                        console.log(data);
                        $('#invalid').css('display', 'none');
                        
                        $.ajax({
                            url: url,
                            data: data,
                            type: 'POST',
                            success: function (response) {
                                response = JSON.parse(response)
                                console.log(response);
                                if (response.success){
                                    $('a.loginbtn').remove()
                                    $('#form_container').css('display','none');
                                    $('.navMain').append(response.user_dropdown);
                                } else {
                                    $('#invalid').css('display', 'block');
                                }
                            },
                            error: function (error) {
                                console.log(error);
                            }
                        });
                    });
                });
            }
            
            $(function () {
                $('a.loginbtn').bind('click', function () {
                    var csrftoken = $('meta[name=csrf-token]').attr('content')
                    var url = "{{ url_for('auth.login') }}";
                    loadModal(url);
                });
            });
        </script>
        {% endif %}
            
        
        {% block content %}{% endblock %}
        </body>
        </html>