<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Galaxy stuff</title>
        {% else %}
        <title>Welcome.</title>
        {% endif %}
    </head>
    <body>
        <div>Galaxy stuff: <a href="/index">Home</a> <a href="/annotate">Annotate</a></div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
