{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='StylingHome.css')}}">
    <div class="parallaxScroll">
        <div class="parallax home">
            <div class="teamMemberContainer">
                <r>The Project</r>
                <p>
                    The Zooniverse is the world’s largest and most popular platform for people-powered research.
                    This research is made possible by volunteers — hundreds of thousands of people around the world
                    who come together to assist professional researchers. Our goal is to enable research that would
                    not be possible, or practical, otherwise. Zooniverse research results in new discoveries,
                    datasets useful to the wider research community, and many publications.The Zooniverse enables 
                    everyone to take part in real cutting edge research in many fields across the sciences, humanities, 
                    and more. The Zooniverse creates opportunities for you to unlock answers and contribute to real discoveries.
                </p>
            </div>

            <div class="teamMemberContainer">
                <r>Why</r>
                <p>
                    The major challenge of 21st century research is dealing with the flood of information we can now
                    collect about the world around us. Computers can help, but in many fields the human ability for
                    pattern recognition — and our ability to be surprised — makes us superior. With the help of Zooniverse
                    volunteers, researchers can analyze their information more quickly and accurately than would otherwise
                    be possible, saving time and resources, advancing the ability of computers to do the same tasks, and
                    leading to faster progress and understanding of the world, getting to exciting results more quickly.
                </p>
            </div>

            <div class="teamMemberContainer">
                <r>We Need You</r>
                <p>
                    Our job is very simple! All you need to do is look out for the features that mark out spiral and
                    elliptical galaxies. In fact, as you're a human and not a computer, most galaxies should be easy to
                    classify since they're obviously spirals or obviously ellipticals. On this page, you will practice
                    classifying galaxies. On the next page, you will take a short trial to test your skills.
                    If you don’t pass the trial, you can try again. Once you pass the trial, you can start contributing to
                    Galaxy Zoo science!
                </p>
                <div class="buttonContainer">
                    <a class="buttonInvolve" href="Annotate">Get Involved</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}