{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Styling/StylingScrollBar.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Styling/StylingFundingTeam.css')}}">
<body>
    <div class="parallaxScroll">
        <div class="parallax">
            <div>
                <img class="groupPhoto" src="../static/Images/Team/TeamGroupPhoto.jpg">
            </div>

            <div class="teamMemberContainer">
                <div class="imageContainer left">
                    <img class="TeamMember1Photo" src='../static/Images/Team/TeamMember1.jpg'>
                </div>
                <div class="textContainer">
                    <h3>Chris Alton</h3>
                    <p>
                        Chris grew up and was educated in Australia and then embarked on a career
                        which has seen him living in four of the Rugby Six Nations. In his day job he
                        lectures Physics and researches fundamental particles such as quarks which make
                        up protons and neutrons, and hence 99% of the known universe. Away from work,
                        he enjoys running, cycling and generally being outdoors in and around the
                        beautiful Swansea and Gower beaches.
                    </p>
                </div>
            </div>

            <div class="teamMemberContainer">
                <div class="imageContainer right">
                    <img class="TeamMember2Photo" src='../static/Images/Team/TeamMember2.jpg'>
                </div>
                <div class="textContainer">
                    <h3>Will Bryan</h3>
                    <p>
                        Will is a physicist whose research area is in fast lasers, so fast that they can 
                        effectively take “videos” of chemical reactions. He is also very keen on schools
                        outreach projects, co-running Swansea University’s Science for Schools Scheme (S4) 
                        and complements his scientific studies with an interest and aptitude in art.
                    </p>
                </div>
            </div>


            <div class="teamMemberContainer">
                <div class="imageContainer left">
                    <img class="TeamMember3Photo" src='../static/Images/Team/TeamMember3.jpg'>
                </div>
                <div class="textContainer">
                    <h3>Tanya Foxall</h3>
                    <p>
                        Tanya works at Swansea University as a Project Officer for Oriel Science. Prior to 
                        joining the university, she was a stay-at-home Mum with three children and volunteering 
                        as a teacher’s assistant. She moved to Swansea at the end of 2013, having spent the 
                        previous 13 years living and working in New York City, Connecticut and Pennsylvania. 
                        Her career began in London managing a client services group for a global financial 
                        services firm. In 2000 she transferred to their corporate headquarters in New York City 
                        to run a combined team due to a merger. Tanya plays netball, and is a qualified 
                        Assistant Netball Coach for a local junior netball club.
                    </p>
                </div>
            </div>


            <div class="teamMemberContainer">
                <div class="imageContainer right">
                    <img class="TeamMember4Photo" src='../static/Images/Team/TeamMember4.jpg'>
                </div>
                <div class="textContainer">
                    <h3>Mary Gagen</h3>
                    <p>
                        Mary is a geographer and geologist by training and now lectures on all things physical geography, 
                        and researches climate change. Her research interests lie in the palaeoclimatic information stored 
                        in the annual rings of trees and she spends as much time as possible sourcing ancient woodland sites, 
                        having led fieldwork in North America, southern Africa, South East Asia and throughout Europe and 
                        Scandinavia. Away from the forest and lab Mary is passionate about science outreach and co-runs
                        Swansea University’s Science for Schools Scheme (S4). Spare time is mostly spent outdoors or 
                        on a yoga mat, and she is a qualified holistic therapist.
                    </p>
                </div>
            </div>


            <div class="teamMemberContainer">
                <div class="imageContainer left">
                    <img class="TeamMember5Photo" src='../static/Images/Team/TeamMember5.jpg'>
                </div>
                <div class="textContainer">
                    <h3>Liz Kenny</h3>
                    <p>
                        Liz is a Research Administrator in the Physics Department at Swansea University and supports Oriel Science’s 
                        communications and marketing. Her interest lies in History and Education and she completed her degree and 
                        PGCE/MA in Swansea. Her research followed the life works of the notorious Restoration era poet Aphra Behn. 
                        Away from work Liz enjoys the outdoors and what better place to live than the Gower. Her passion has always 
                        been horse-riding, ever since she was put on a horse aged 3! Liz also has a separate passion/career as a 
                        qualified make-up artist.
                    </p>
                </div>
            </div>


            <div class="teamMemberContainer">
                <div class="imageContainer right">
                    <img class="TeamMember6Photo" src='../static/Images/Team/TeamMember6.jpg'>
                </div>
                <div class="textContainer">
                    <h3>William Murphy</h3>
                    <p>
                        By day, William is the administrator and jack of all trades for Oriel Science, by night he is an Ancient Historian. 
                        His research interests revolve around war and society, and the role of fear in Ancient Greece. He gives lectures 
                        on these topics in his spare time at various museums and conferences. When he isn’t working or researching, 
                        Will tours the UK for competitive archery. 
                    </p>
                </div>
            </div>


            <div class="teamMemberContainer">
                <div class="imageContainer left">
                    <img class="TeamMember7Photo" src='../static/Images/Team/TeamMember7.jpg'>
                </div>
                <div class="textContainer">
                    <h3>Kristi Praki</h3>
                    <p>
                        Kristi grew up in Gloucestershire, but moved to Wales in 2008 to study physics at Swansea University, Kristi currently 
                        design and leads on our schools workshop programme. She currently has a Master’s degree in theoretical physics and is 
                        working towards her PhD. As well as being a member of the Oriel Science team, Kristi is also a part of our partner project, 
                        the S4 Science for Schools Scheme, a science outreach project that provides free hands on science workshops to students 
                        from local schools. Kristi loves to draw and paint and can often be found trying to explain scientific ideas to people 
                        by doodling.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}