{% extends "Base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Styling/StylingTutorial.css')}}">
    <div class="parallaxScroll">
        <div class="parallax tutorial">
            <h2 id="drawingPart">Drawing</h2>
            <div class="teamMemberContainer">
                <p>
                    Click a shape icon to select a drawing shape.
                </p>
                <div class="imageContainer">
                    <img src='/static/Images/Tutorial/TutorialDrawShapes.jpg' class="tutorialShapes">
                </div>
            </div>

            <div class="teamMemberContainer">
                <h2></h2>
                <p>
                    Click and drag anywhere on the image to begin your drawing.
                </p>
                <div class="imageContainer">
                    <img src='/static/Images/Tutorial/TutorialBeginDrawing.jpg' class="tutorialShapes">
                </div>
            </div>

            <div class="teamMemberContainer">
                <p>
                    This is an example of an ellipse shape.
                </p>
                <div class="imageContainer">
                    <img src='/static/Images/Tutorial/TutorialDrawnShape.jpg' class="tutorialShapes">
                </div>
            </div>

            <div class="teamMemberContainer">
                <p>
                    Click on the shape to highlight it.
                </p>
                <div class="imageContainer">
                    <img src='/static/Images/Tutorial/TutorialHighlightedShape.PNG' class="tutorialShapes">
                </div>
            </div>

            <div class="teamMemberContainer">
                <p>
                    Change the shapes size by dragging one of the surrounding small white boxes.
                </p>
                <div class="imageContainer">
                    <img src='/static/Images/Tutorial/TutorialShapeSizing.jpg' class="tutorialShapes">
                </div>
            </div>

            <div class="teamMemberContainer">
                <p>
                    Rotate the shape by dragging the small green box.
                </p>
                <div class="imageContainer">
                    <img src='/static/Images/TutorialShapeRotate.jpg' class="tutorialShapes">
                </div>
            </div>

            <div class="teamMemberContainer">
                <p>
                    Delete a shape by clicking on the bin icon.
                </p>
                <div class="imageContainer">
                    <img src='/static/Images/Tutorial/TutorialShapeDelete.jpg' class="tutorialShapes">
                </div>
            </div>

            <div class="teamMemberContainer">
                <p>
                    Remove last shape drawn by clicking on the left arrow icon
                </p>
                <div class="imageContainer">
                    <img src='/static/Images/Tutorial/TutorialShapeUndo.jpg' class="tutorialShapes">
                </div>
            </div>

            <div class="teamMemberContainer">
                <p>
                    Remove all shapes drawn by clicking on the spiral arrow icon
                </p>
                <div class="imageContainer">
                    <img src='/static/Images/Tutorial/TutorialShapeReset.jpg' class="tutorialShapes">
                </div>
            </div>

            <div class="teamMemberContainer">
                <p>
                    Display the table by clicking on the table icon.
                </p>
                <div class="imageContainer">
                    <img src='/static/Images/Tutorial/TutorialShapeTable.jpg' class="tutorialShapes">
                </div>
            </div>

            <div class="teamMemberContainer">
                <p>
                    Display a guide by clicking on the info icon.
                </p>
                <div class="imageContainer">
                    <img src='/static/Images/Tutorial/TutorialCheatSheet.jpg' class="tutorialShapes">
                </div>
            </div>

            <h2 id="tablePart">Table</h2>

            <div class="teamMemberContainer">
                <p>
                    All drawn shapes are listed here.
                </p>
                <div class="imageContainer">
                    <img src='/static/Images/Tutorial/TutorialShapeTableShown.PNG' class="tutorialShapes">
                </div>
            </div>

            <div class="teamMemberContainer">
                <p>
                    Click a row to highlight a shape. <br /> (Currently this is the only way to highlight a line)
                </p>
                <div class="imageContainer">
                    <img src='/static/Images/Tutorial/TutorialTableRow.PNG' class="tutorialShapes">
                </div>
            </div>

            <div class="teamMemberContainer">
                <p>
                    Use the shape icons to filter the table by a shape.
                </p>
                <div class="imageContainer">
                    <img src='/static/Images/Tutorial/TutorialTableFilter.jpg' class="tutorialShapes">
                </div>
            </div>

            <h2 id="annotationPart">Annotation</h2>

            <div class="teamMemberContainer">
                <p>
                    The bulge of a galaxy can be marked with a circle. Sometimes there may be more than one bulge!
                </p>
                <div class="imageContainer">
                    <img src='/static/Images/Tutorial/TutorialBulge.PNG' class="tutorialShapes">
                </div>
            </div>

            <div class="teamMemberContainer">
                <p>
                    Use lines to mark a galaxy's spiral arms from the bulge to the end of the arm.
                </p>
                <div class="imageContainer">
                    <img src='/static/Images/Tutorial/TutorialSpiralArm.PNG' class="tutorialShapes">
                </div>
            </div>

            <div class="teamMemberContainer">
                <p>
                    Use an ellipse or circle to outline the boundary of the galaxy.
                </p>
                <div class="imageContainer">
                    <img src='/static/Images/Tutorial/TutorialBoundary.PNG' class="tutorialShapes">
                </div>
            </div>

            <div class="teamMemberContainer">
                <p>
                    Tip: If you can spot a rare out of the ordinary feature such as a ring or an irregular galaxy, use
                    your best judgement and try to make it with a shape you think is appropriate. You're ready to
                    <a href="Annotate" class="getInvolved">Begin!</a>
                </p>
                <div class="imageContainer">
                    <img src='/static/Images/Tutorial/TutorialFinish.PNG' class="tutorialShapes">
                </div>
            </div>
        </div>
    </div>
{% endblock %}